.tiptap {
  @apply min-h-[1rem] break-words max-w-[57ch] focus:outline-none;
  /* overflow-wrap: break-word; */
}

/* Basic editor styles */
.tiptap > * + * {
  margin-top: 0.75em;
}
.tiptap :first-child {
  margin-top: 0.5rem;
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  font-size: 16px;
  content: attr(data-placeholder);
  float: left;
  letter-spacing: -0.4px;
  height: 0;
  pointer-events: none;
}

.tiptap img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
}

.tiptap img.ProseMirror-selectednode {
  outline: 3px solid red;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.dems {
  background: url("/bg.jpg") !important;
}
